body {
    margin:0;
    padding:0;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #b61924;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

#login {
    left: 50%;
    top: 50%;
    position: absolute;
    background: #D3D3D3;
    box-sizing: border-box;
    margin-left: -125px;
    margin-top: -150px;
    border-radius: 10px;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 2em;
}

a{
    margin-left: 12px;
    margin-right: 12px;

}
input{
    margin-left: 12px;
    margin-right: 12px
            
    }
    
